/*****GENERIC*****/
body,
h1,
h2,
h3,
p,
header a,
button span {
    font-family: 'Myriad Pro', sans-serif;
}

p {
    line-height: 1.5;
}

/*****HEADER*****/
.usa-header--basic .usa-nav__primary-item>.usa-current::after,
.usa-search--small [type=submit] {
    background-color: #0050D8;
}

/*****HERO*****/
#hero {
    border-top: none;
}

#hero-top-img {
    border-radius: 10px;
    width: 471px;
}

#hero-bottom-img {
    border-radius: 10px;
    width: 327px;
}

#hero-right {
    padding-left: 3rem;
}

/*****FIRST SECTION: VISION*****/


/*****SECOND SECTION: ASSISTIVE TECH CATALOG*****/
#tech-catalog-section .usa-button {
    background-color: #0050D8;
}

/*****THIRD SECTION: FORM*****/
#custom-form p {
    color: #fff;
}

#custom-form legend,
.usa-label {
    font-family: 'Myriad Pro', sans-serif;
    color: #fff;
}

/*****FOOTER*****/
.usa-footer__primary-link,
.usa-footer__contact-info {
    text-decoration: none;
}