/*****GENERIC*****/
body,
h1,
h2,
h3,
p,
header a,
button span {
    font-family: 'Myriad Pro', sans-serif;
}

p {
    line-height: 1.5;
}

/*****HEADER*****/
.usa-nav__primary-item {
    color: #1b1b1b;
}

.usa-header--basic .usa-nav__primary-item>.usa-current {
    color: #0050D8;
}

.usa-header--basic .usa-nav__primary-item>.usa-current::after,
.usa-search--small [type=submit] {
    background-color: #0050D8;
}

/*****HERO*****/
#hero {
    border-top: none;
}

#hero>section>.grid-container>.grid-row {
    position: relative;
}

#hero-top-img {
    width: 100%;
}

#hero-bottom-img {
    width: 100%;
}

#hero-bottom-img {
    box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.2);
}

#hero-right {
    padding-left: 3rem;
}

/*****FIRST SECTION: VISION*****/


/*****SECOND SECTION: ASSISTIVE TECH CATALOG*****/
#tech-catalog-section #section-img img {
    border-radius: 10px;
}

#tech-catalog-section .usa-button {
    background-color: #0050D8;
}

/*****THIRD SECTION: FORM*****/
#custom-form p {
    color: #fff;
}

#custom-form .usa-legend,
#custom-form .usa-label {
    font-family: 'Myriad Pro', sans-serif;
    color: #fff;
}

#custom-form .usa-textarea {
    height: 15rem;
}

/*****FOOTER*****/
.usa-footer__primary-link,
.usa-footer__contact-info a {
    text-decoration: none;
}

body>footer>div.usa-footer__primary-section>div>div.mobile-lg\:grid-col-4>address>div>div:nth-child(2)>div>a {
    color: -webkit-link;
}

/********************/
/*****RESPONSIVE*****/
/********************/

/*****iPad Mini*****/
@media only screen and (max-width: 768px) {}

/*****iPhone 14 Plus*****/
@media only screen and (max-width: 390px) {}